<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				Jadavpur University Entrepreneurship Cell &copy; 2017 – We're <a href="https://github.com/E-Cell-JU/abc">open source !</a>.
			</div>
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
			</ul>
		</div>
	</div>
</footer>
