<!-- Form -->
<section class="wrapper style1 special">
	<div class="inner">
		<header>
			<h2>Contact Us</h2>
		</header>

		<form method="post" action="#">
			<div class="row uniform">
				<div class="6u 12u$(xsmall)">
					<input type="text" name="name" id="name" value="" placeholder="Name" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="email" name="email" id="email" value="" placeholder="Email" />
				</div>
				<!-- Break -->
				<div class="12u$">
					<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
				</div>
				<!-- Break -->
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
						<li><input type="reset" value="Reset" class="alt" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</section>