<!-- Scripts -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/util.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/typed.min.js"></script>
<script type="text/javascript">
	// Typed 
	document.addEventListener('DOMContentLoaded', function(){
	      Typed.new('.typed', {
	        strings: ["A – B – C", "Analytics.", "Business.", "Consulting."],
            typeSpeed: 100,
            backDelay: 800,
            loop: true,
            loopCount: null,
	      });
	  });
	
	// Smooth-scroll
	// Select all links with hashes
	$('a[href*="#"]')
	  // Remove links that don't actually link to anything
	  .not('[href="#"]')
	  .not('[href="#0"]')
	  .click(function(event) {
	    // On-page links
	    if (
	      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
	      && 
	      location.hostname == this.hostname
	    ) {
	      // Figure out element to scroll to
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	      // Does a scroll target exist?
	      if (target.length) {
	        // Only prevent default if animation is actually gonna happen
	        event.preventDefault();
	        $('html, body').animate({
	          scrollTop: target.offset().top
	        }, 1000, function() {
	          // Callback after animation
	          // Must change focus!
	          var $target = $(target);
	          $target.focus();
	          if ($target.is(":focus")) { // Checking if the target was focused
	            return false;
	          } else {
	            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
	            $target.focus(); // Set focus again
	          };
	        });
	      }
	    }
	  });

	  // Video
	  function scaleToFill() {
	      $('video.video-background').each(function(index, videoTag) {
	         var $video = $(videoTag),
	             videoRatio = videoTag.videoWidth / videoTag.videoHeight,
	             tagRatio = $video.width() / $video.height(),
	             val;

	         if (videoRatio < tagRatio) {
	             val = tagRatio / videoRatio * 1.02; <!-- size increased by 2% because value is not fine enough and sometimes leaves a couple of white pixels at the edges -->
	         } else if (tagRatio < videoRatio) {
	             val = videoRatio / tagRatio * 1.02;
	         }

	         $video.css('transform','scale(' + val  + ',' + val + ')');

	      });    
	  }

	  $(function () {
	      scaleToFill();
	      // disableScrolling();

	      $('.video-background').on('loadeddata', scaleToFill);

	      $(window).resize(function() {
	          scaleToFill();
	      });
	  });

	  function disableScrolling(){
	      var x=window.scrollX;
	      var y=window.scrollY;
	      window.onscroll=function(){window.scrollTo(x, y);};
	  }

	  function enableScrolling(){
	      window.onscroll=function(){};
	  }

	  // // Hide preloader
	  // $(window).load(function() {
	  // 	$('#page_loader').css("display", "none");
	  // 	enableScrolling();
	  // });

</script>