---
---
<!DOCTYPE HTML>
<!--
	Theory Theme by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{% include head.html %}
	<body>
		{% include preloader.html %}
		{% include header.html %}
		{% include banner.html %}
		{% include infopanel.html %}
		{% include team.html %}

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Updates</h2>
						<p>Recent</p>
					</header>
					{{ content }}
				</div>
			</section>

		
		{% include form.html %}
		{% include footer.html %}

		{% include scripts.html %}
		
		<!--
			Sayan Goswami - 2017 - goswami.sayan47@gmail.com
		-->
	</body>
</html>