---
---
<!DOCTYPE HTML>
<!--
	Theory Theme by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ABC | E.Cell</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	</head>
	<body>

			{% include header.html %}

			<!-- Banner -->
			<section id="banner">
				<h1>{{ page.title }}</h1>
				<p>Jadavpur University Entrepreneurship Cell</p>
			</section>

			<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>{{ page.title }}</h2>
						<p>Jadavpur University Entrepreneurship Cell</p>
					</header>
					<p>
						{{ content }}
					</p>
					</br> 
				</div>
			</section>

		{% include form.html %}
		{% include footer.html %}

		<!-- Scripts -->
			<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/assets/js/typed.min.js"></script>
		<!--
			Sayan Goswami - 2017 - goswami.sayan47@gmail.com
		-->
	</body>
</html>